{% extends 'base.html' %}
{% load static %}
{% block title %}Про Луцьку Федирацію Кікбосингу WAKO{%endblock %}
{% block meta_description %}Історія Волинськой Обласной Федерації Боксу та Кікбоксингу !{% endblock %}

{% block content %}



  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg-img/12.jpg' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Про нас</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Головна</a></li>
              <li class="breadcrumb-item active" aria-current="page">Про нас</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- ****** About Us Area Start ******* -->
  <section class="dento-about-us-area mt-30">
    <div class="container">
      <div class="row align-items-center">
        <!-- About Us Thumbnail -->
        <div class="col-12 col-md-6">
          <div class="about-us-thumbnail mb-50">
            <img src="{% static 'website/img/bg-img/15.jpg' %}" alt="">
          </div>
        </div>
        <!-- About Content -->
        <div class="col-12 col-md-6">
          <div class="about-us-content mb-50">
            <!-- Section Heading -->
            <div class="section-heading">
              <h2>Волинська Обласна Федерація кікбоксингу</h2>
              <div class="line"></div>
            </div>
            <p>Волинська Обласна Федерація кікбоксингу була заснована - 12.09.2005.
            Кікбоксинг почав свій переможний марш по Волині в 2006 році. Цей вид єдиноборств стрімко завойовує популярність у молоді, пропагуючи здоровий спосіб життя і альтернативу алкоголю наркотикам і злочинності.
            Уже відкриті нові клуби в містах області: «ДЮСШ Кондратовича» м. Ковель, «Любарт» м. Володимир-Волинський, ДЮСШ No. 3 м. Нововолинськ, «Удар» м. Любешів, Паувер атлетик м. Ківерці. Ст Заболоття С./К. «Брат». Ст Новолинськ с/к "Актив"  </p>
            <p>Під знаменами Волинського кікбоксингу зібралося більше 500 дітей (займалось + 3000).
            Федерацією Волині було підготовлено більше 155 КМС УКРАїНИ, 19 МС України, 5 МСМК України з кікбоксінгу WTKA, 1 МСМК України з кікбоксінгу WAKO. 1 ЗМС України з кікбоксінгу WTKA і 1 ЗМС України з кікбоксінгу WAKO.  5 МС України з боксу. </p>
            <p>Незважаючи на свій юний вік офіційний Федерація активно заявляє про себе на змаганнях різного рівня, адже школа підготовки професійних боксерів на Волині має куди давнішу історію! </p>


            <!-- Single Skills Area -->
            <div class="single-skills-area mt-30">
              <h6>Тренеруються Юнаки</h6>
              <div id="bar1" class="barfiller">
                <span class="tip"></span>
                <span class="fill" data-percentage="40"></span>
              </div>
            </div>

<!--            &lt;!&ndash; Single Skills Area &ndash;&gt;-->
<!--            <div class="single-skills-area mt-30">-->
<!--              <h6>Тренеруються Юнаки</h6>-->
<!--              <div id="bar2" class="barfiller">-->
<!--                <span class="tip"></span>-->
<!--                <span class="fill" data-percentage="65"></span>-->
<!--              </div>-->
<!--            </div>-->

            <!-- Single Skills Area -->
            <div class="single-skills-area mt-30">
              <h6>Тренеруються Діти</h6>
              <div id="bar3" class="barfiller">
                <span class="tip"></span>
                <span class="fill" data-percentage="60"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ****** About Us Area End ****** -->

  <div class="container">
    <div class="dento-border clearfix"></div>
  </div>

  <!-- Cool Facts Area Start -->
  <section class="dento-cta-area">
    <div class="container">
      <div class="row">

        <!-- Cool Facts Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-cta text-center mt-50 mb-100">
            <i class="icon_genius"></i>
            <h2><span class="counter">35</span>+</h2>
            <h5>Років досвіду</h5>
          </div>
        </div>

                <!-- Cool Facts Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-cta text-center mt-50 mb-100">
            <i class="icon_star"></i>
            <h2><span class="counter">200</span>+</h2>
            <h5>Отримало Майстрів</h5>
          </div>
        </div>

        <!-- Cool Facts Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-cta text-center mt-50 mb-100">
<!--            <i class="icon_heart_alt"></i>-->
            <i class="icon_profile"></i>
            <h2><span class="counter">3000</span>+</h2>
            <h5>Навчаних боксерів</h5>
          </div>
        </div>


        <!-- Cool Facts Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-cta text-center mt-50 mb-100">
            <i class="icon_heart"></i>
            <h2><span class="counter">300</span>+</h2>
            <h5>Займається спортсменів</h5>
          </div>
        </div>

<!--            &lt;!&ndash; Cool Facts Area &ndash;&gt;-->
<!--        <div class="col-12 col-sm-6 col-lg-3">-->
<!--          <div class="single-cta text-center mt-50 mb-100">-->
<!--            <i class="icon_book_alt"></i>-->
<!--            <h2><span class="counter">120</span></h2>-->
<!--            <h5>Сертифікатів</h5>-->
<!--          </div>-->
<!--        </div>-->

      </div>
    </div>
  </section>
  <!-- Cool Facts Area End -->

  <!-- ***** Testimonials Area Start ***** -->
  <section class="testimonials-area section-padding-100 bg-img bg-gradient-overlay jarallax clearfix" style="background-image: url('{% static 'website/img/bg-img/7.jpg' %}');">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- Testimonials Slides -->
          <div class="testimonials-slides owl-carousel">
            <!-- Single Testimonials Slide -->
            <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="{% static 'website/img/bg-img/b6.jpg' %}" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">
                <h5>“Справжні друзі не завжди можуть витягнути тебе наверх. Але вони обов'язково спробують знайти спосіб, щоб не дати тобі впасти!”</h5>
                <h6>Іван Швайко & Денис Бардась</h6>
                <p>Боксери ...</p>
              </div>
            </div>

            <!-- Single Testimonials Slide -->
            <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="{% static 'website/img/bg-img/b7.jpg' %}" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">
                <h5>“Найцінніший подарунок, який ти можеш піднести кому небудь - це твій час, тому що ти віддаєш те, що ніколи не зможеш повернути.”</h5>
                <h6>Анатолій Кобель & Дмитро Кобель</h6>
                <p>Тренера ...</p>
              </div>
            </div>

                      <!-- Single Testimonials Slide -->
            <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="{% static 'website/img/bg-img/b9.jpg' %}" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">
                <h5>“Життя - як спорт: для одного - це важка атлетика, для іншого - фігурне катання. Самим невдачливим доводиться піднімати штангу, стоячи на ковзанах.”</h5>
                <h6>Іваницький Григорій & Хонда</h6>
                <p>Підприємці ...</p>
              </div>
            </div>

            <!-- Single Testimonials Slide -->
            <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="{% static 'website/img/bg-img/b8.jpg' %}" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">
                <h5>“Дорогу здолає той, хто йде. І переможе лише той, хто бореться. Ніщо не вічне під місяцем. Пам'ятай, неприємності рано чи пізно закінчаться.”</h5>
                <h6>Ярослав Кобель & Олександр Власов</h6>
                <p>Айтішникі ...</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Testimonials Area End ***** -->

  <!-- ***** Dento Dentist Area Start ***** -->
  <section class="dentist-area section-padding-100-0">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>Поважні Люди</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Single Dentist Area 1 -->
        <div class="col-12 col-sm-6 col-md-4">
          <div class="single-dentist-area mb-100">
            <img src="{% static 'website/img/bg-img/f3.png' %}" alt="">
            <!-- Dentist Content -->
            <div class="dentist-content">
              <!-- Social Info -->
              <div class="dentist-social-info">
                <a href="https://www.facebook.com/profile.php?id=100008026146922"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
              </div>
              <!-- Dentist Info -->
              <div class="dentist-info bg-gradient-overlay">
                <h5>Іваницький Григорій Іванович </h5>
                <p>МС з боксу</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Single Dentist Area 2-->
        <div class="col-12 col-sm-6 col-md-4">
          <div class="single-dentist-area mb-100">
            <img src="{% static 'website/img/bg-img/f7,1.png' %}" alt="">
            <!-- Dentist Content -->
            <div class="dentist-content">
              <!-- Social Info -->
              <div class="dentist-social-info">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
              </div>
              <!-- Dentist Info -->
              <div class="dentist-info bg-gradient-overlay">
                <h5>Роговський Руслан Миколайовч.</h5>
                <p>МС з боксу</p>
              </div>
            </div>
          </div>
        </div>

                <!-- Single Dentist Area 3-->
        <div class="col-12 col-sm-6 col-md-4">
          <div class="single-dentist-area mb-100">
            <img src="{% static 'website/img/bg-img/f5,1.png' %}" alt="">
            <!-- Dentist Content -->
            <div class="dentist-content">
              <!-- Social Info -->
              <div class="dentist-social-info">
                <a href="https://www.facebook.com/profile.php?id=100003636275015"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
              </div>
              <!-- Dentist Info -->
              <div class="dentist-info bg-gradient-overlay">
                <h5>Корольчук Ігор Адамович</h5>
                <p>МС з боксу</p>
              </div>
            </div>
          </div>
        </div>

                        <!-- Single Dentist Area 4 -->
        <div class="col-12 col-sm-6 col-md-4">
          <div class="single-dentist-area mb-100">
            <img src="{% static 'website/img/bg-img/f9,1.png' %}" alt="">
            <!-- Dentist Content -->
            <div class="dentist-content">
              <!-- Social Info -->
              <div class="dentist-social-info">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
              </div>
              <!-- Dentist Info -->
              <div class="dentist-info bg-gradient-overlay">
                <h5>Швидкий Віктор Васильович</h5>
                <p>МС з самбо, дзюдо, рукопашного бою</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Single Dentist Area 5-->
        <div class="col-12 col-sm-6 col-md-4">
          <div class="single-dentist-area mb-100">
            <img src="{% static 'website/img/bg-img/f6.png' %}" alt="">
            <!-- Dentist Content -->
            <div class="dentist-content">
              <!-- Social Info -->
              <div class="dentist-social-info">
                <a href="https://www.facebook.com/profile.php?id=100043121885958"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
              </div>
              <!-- Dentist Info -->
              <div class="dentist-info bg-gradient-overlay">
                <h5>Панчук Валерій Валерійович</h5>
                <p>МС з тенісу</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Single Dentist Area 6-->
        <div class="col-12 col-sm-6 col-md-4">
          <div class="single-dentist-area mb-100">
            <img src="{% static 'website/img/bg-img/f1.png' %}" alt="">
            <!-- Dentist Content -->
            <div class="dentist-content">
              <!-- Social Info -->
              <div class="dentist-social-info">
                <a href="https://www.facebook.com/profile.php?id=100025322042908"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
              </div>
              <!-- Dentist Info -->
              <div class="dentist-info bg-gradient-overlay">
                <h5>Кобель Анатолій Дмитрович</h5>
                <p>МС з боксу</p>
              </div>
            </div>
          </div>
        </div>

              <div class="row">
        <!-- Single Dentist Area 1 -->
        <div class="col-12 col-sm-6 col-md-4">
          <div class="single-dentist-area mb-100">
            <img src="{% static 'website/img/bg-img/f11,1.png' %}" alt="">
            <!-- Dentist Content -->
            <div class="dentist-content">
              <!-- Social Info -->
              <div class="dentist-social-info">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
              </div>
              <!-- Dentist Info -->
              <div class="dentist-info bg-gradient-overlay">
                <h5>Тимофеєв Віталій Вячеславович</h5>
                <p>МС з кікбоксингу</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Single Dentist Area 2-->
        <div class="col-12 col-sm-6 col-md-4">
          <div class="single-dentist-area mb-100">
            <img src="{% static 'website/img/bg-img/f10,1.png' %}" alt="">
            <!-- Dentist Content -->
            <div class="dentist-content">
              <!-- Social Info -->
              <div class="dentist-social-info">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
              </div>
              <!-- Dentist Info -->
              <div class="dentist-info bg-gradient-overlay">
                <h5>Савчук Юрій Петрович</h5>
                <p>МС з боксу</p>
              </div>
            </div>
          </div>
        </div>

                <!-- Single Dentist Area 3-->
        <div class="col-12 col-sm-6 col-md-4">
          <div class="single-dentist-area mb-100">
            <img src="{% static 'website/img/bg-img/f12,1.png' %}" alt="">
            <!-- Dentist Content -->
            <div class="dentist-content">
              <!-- Social Info -->
              <div class="dentist-social-info">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
              </div>
              <!-- Dentist Info -->
              <div class="dentist-info bg-gradient-overlay">
                <h5>Ребрина Юрій Вячеславович</h5>
                <p>МС з боксу</p>
              </div>
            </div>
          </div>
        </div>

                        <!-- Single Dentist Area 4 -->
        <div class="col-12 col-sm-6 col-md-4">
          <div class="single-dentist-area mb-100">
            <img src="{% static 'website/img/bg-img/f2.png' %}" alt="">
            <!-- Dentist Content -->
            <div class="dentist-content">
              <!-- Social Info -->
              <div class="dentist-social-info">
                <a href="https://www.facebook.com/profile.php?id=100007432418256"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
              </div>
              <!-- Dentist Info -->
              <div class="dentist-info bg-gradient-overlay">
                <h5>Кобель Дмитро Анатолійович</h5>
                <p>ЗМСУ з кікбоксингу WTKA</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Single Dentist Area 5-->
        <div class="col-12 col-sm-6 col-md-4">
          <div class="single-dentist-area mb-100">
            <img src="{% static 'website/img/bg-img/f8.png' %}" alt="">
            <!-- Dentist Content -->
            <div class="dentist-content">
              <!-- Social Info -->
              <div class="dentist-social-info">
                <a href="https://www.facebook.com/profile.php?id=100025322042908"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
              </div>
              <!-- Dentist Info -->
              <div class="dentist-info bg-gradient-overlay">
                <h5>Куденьчук Олексій Андрійович</h5>
                <p>КМСУ з боксу</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Single Dentist Area 6-->
        <div class="col-12 col-sm-6 col-md-4">
          <div class="single-dentist-area mb-100">
            <img src="{% static 'website/img/bg-img/f13,1.png' %}" alt="">
            <!-- Dentist Content -->
            <div class="dentist-content">
              <!-- Social Info -->
              <div class="dentist-social-info">
                <a href="https://www.facebook.com/profile.php?id=100042017160880"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
              </div>

              <!-- Dentist Info -->
              <div class="dentist-info bg-gradient-overlay">
                <h5>Ковтун Святослав Анатолійович</h5>
                <p>МС з боксу.</p>
              </div>
            </div>
          </div>
        </div>


        <!-- Single Dentist Area 6-->
        <div class="col-12 col-sm-6 col-md-4">
          <div class="single-dentist-area mb-100">
            <img src="{% static 'website/img/bg-img/f14.png' %}" alt="">
            <!-- Dentist Content -->
            <div class="dentist-content">
              <!-- Social Info -->
              <div class="dentist-social-info">
                <a href="https://www.facebook.com/profile.php?id=100010745376101"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
              </div>
              <!-- Dentist Info -->
              <div class="dentist-info bg-gradient-overlay">
                <h5>Швайко Іван Андрійович</h5>
                <p>МСУ з боксу, МСМКУ з кікбоксингу WTKA</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Single Dentist Area 6-->
        <div class="col-12 col-sm-6 col-md-4">
          <div class="single-dentist-area mb-100">
            <img src="{% static 'website/img/bg-img/f16.png' %}" alt="">
            <!-- Dentist Content -->
            <div class="dentist-content">
              <!-- Social Info -->
              <div class="dentist-social-info">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
              </div>
              <!-- Dentist Info -->
              <div class="dentist-info bg-gradient-overlay">
                <h5>Хильчук Юлія Юрівна</h5>
                <p>МC України з кікбоксингу</p>
              </div>
            </div>
          </div>
        </div>

                <!-- Single Dentist Area 6-->
        <div class="col-12 col-sm-6 col-md-4">
          <div class="single-dentist-area mb-100">
            <img src="{% static 'website/img/bg-img/f18.png' %}" alt="">
            <!-- Dentist Content -->
            <div class="dentist-content">
              <!-- Social Info -->
              <div class="dentist-social-info">
                <a href="https://www.facebook.com/profile.php?id=100000174797797"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
              </div>
              <!-- Dentist Info -->
              <div class="dentist-info bg-gradient-overlay">
                <h5>Мордик Микола Юрійович</h5>
                <p>МC України з кікбоксингу</p>
              </div>
            </div>
          </div>
        </div>

                    <!-- Single Dentist Area 6-->
<!--        <div class="col-12 col-sm-6 col-md-4">-->
<!--          <div class="single-dentist-area mb-100">-->
<!--            <img src="{% static 'website/img/bg-img/f17.png' %}" alt="">-->
<!--            &lt;!&ndash; Dentist Content &ndash;&gt;-->
<!--            <div class="dentist-content">-->
<!--              &lt;!&ndash; Social Info &ndash;&gt;-->
<!--              <div class="dentist-social-info">-->
<!--                <a href="https://www.facebook.com/profile.php?id=100041442735474"><i class="fa fa-facebook"></i></a>-->
<!--                <a href="#"><i class="fa fa-twitter"></i></a>-->
<!--                <a href="#"><i class="fa fa-instagram"></i></a>-->
<!--              </div>-->
<!--              &lt;!&ndash; Dentist Info &ndash;&gt;-->
<!--              <div class="dentist-info bg-gradient-overlay">-->
<!--                <h5>Коцан Ігор Ярославович</h5>-->
<!--                <p>Академік НАН, Професор</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

      </div>
    </div>
  </section>
  <!-- ***** Dento Dentist Area End ***** -->

  


{% endblock %}