{% extends 'base.html' %}
{% load static %}
{% block title %}Звязатися з Федирацією Кікбосингу WAKO{%endblock %}
{% block meta_description %}Звязатися з Федирацією Кікбосингу WAKO{% endblock %}
{% block content %}

  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg-img/12.jpg' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Контакти</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Головна</a></li>
              <li class="breadcrumb-item active" aria-current="page">Контакти</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->
  
  <!-- ***** Contact Area Start ***** -->
  {% if message_name %}
    <center>
      <h2>Thanks {{ message_name }}!</h2>
      <p>We received your email and will respond shortly...</p>
    </center>
    <br/><br/><br/>
  {% else %}

  <section class="dento-contact-area mt-50 mb-100">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="google-maps mb-100">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d530.6351160877512!2d25.377652712933685!3d50.754433579558736!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472590a5db5219a5%3A0xbb1c434d37bcc908!2sEstet!5e0!3m2!1sru!2sua!4v1587243046089!5m2!1sru!2sua"
              allowfullscreen></iframe>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Contact Information -->
        <div class="col-12 col-md-4">
          <div class="contact-information">
            <h5>Адресс</h5>
            <p>проспект Відродження, 22А, Луцьк, Волынская, 43000</p>

            <h5>Телефон</h5>
            <p>+3850 505 20 59 - Кобель Анатолій</p>

            

            <h5>Email</h5>
            <p class="mb-0">kickboxua@gmail.com</p>
          </div>
        </div>

        <!-- Contact Form -->
        <div class="col-12 col-md-8">
          <div class="contact-form">
            <!-- Section Heading -->
            <div class="section-heading">
              <h2>для зворотнього звязку</h2>
              <div class="line"></div>
            </div>
            <!-- Form -->
            <form action="{% url 'contact' %}" method="post">
              {% csrf_token %}
              <div class="row">
                <div class="col-lg-6">
                  <input type="text" name="message-name" class="form-control mb-30" placeholder="Ваша Імя">
                </div>
                <div class="col-lg-6">
                  <input type="email" name="message-email" class="form-control mb-30" placeholder="Ваш Email">
                </div>
                <div class="col-12">
                  <textarea name="message" class="form-control mb-30" placeholder="Ваше повідомлення"></textarea>
                </div>
                <div class="col-12">
                  <button type="submit" class="btn dento-btn">Послати лист</button>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </section>
  {% endif %}
  <!-- ***** Contact Area End ***** -->

{% endblock %}
