
{% extends 'base.html' %}

{% load static %}
{% block title %}Склад Луцької Міської Федирації Кікбосингу WAKO{%endblock %}
{% block meta_description %}Члени Федирація Кікбосингу WAKO{% endblock %}



{% block content %}





  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg-img/12.jpg' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Федерація</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Головна</a></li>
              <li class="breadcrumb-item active" aria-current="page">Федерація</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  {% block pricing_section %}

    <!-- ***** Dento Pricing Table Area Start ***** -->
    <section class="dento-pricing-table-area mt-50 section-padding-0-100">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="dento-price-table table-responsive">
              <table class="table table-borderless mb-0">
                <thead>
                  <tr>
                    <th scope="col">Персона</th>
                    <th scope="col">Досягнення та Титул</th>
<!--                    <th scope="col">Вік</th>-->
<!--                    <th scope="col">Ріст</th>-->
<!--                    <th scope="col">Вага</th>-->
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Іваницький Григорій Іванович</th>
                    <td>МС з боксу. Президент Волинської обласної федерації кікбоксингу WAKO</td>

                  </tr>
                  <tr>
                    <th scope="row">Роговський Руслан Миколайович</th>
                    <td>МС з боксу. Президент Луцької Федерації кікбоксингу WAKO. Голова правління Волинського Боксерського клуба Олімпійського резерву.</td>

                  </tr>
                  <tr>
                    <th scope="row">Корольчук Ігор Адамович</th>
                    <td>МС з боксу. Перший президент Волинської обласної федерації кікбоксингу. Засновник Федерації Кікбоксингу WAKO та Волинського Боксерського клуба Олімпійського резерва.</td>

                  </tr>
                  <tr>
                    <th scope="row">Швидкий Віктор Васильович</th>
                    <td>МС з самбо, дзюдо, рукопашного бою. Генерал-майор міліції. Почесний президент професійного боксу Волині і кікбоксингу WAKO</td>

                  </tr>
                  <tr>
                    <th scope="row">Панчук Валерій Валерійович</th>
                    <td>МС з тенісу. Директор КЗ ДЮШ 2 Луцької міської ради. Віце-президент Луцької федерації кікбоксингу WAKO</td>

                  </tr>
                  <tr>
                    <th scope="row">Кобель Анатолій Дмитрович</th>
                    <td>МС з боксу.  Засновник Федерації Кікбоксингу Волині, виконавчій директор. Старший тренер кікбоксингу WAKO КЗДЮСШ 2 Луцької міської ради .</td>

                  </tr>
                  <tr>
                    <th scope="row">Тимофеєв Віталій Вячеславович</th>
                    <td>МС з кікбоксингу. Старший тренер Волинської області. м. Ковель ДЮСШ Кондратовича. Віце Президент Волинської обласної федерації кікбоксингу WAKO</td>

                  </tr>
                  <tr>
                    <th scope="row">Савчук Юрій Петрович</th>
                    <td>МС з боксу. Почесний президент федерації боксу Волині.  Голова наглядової ради Луцької федерації кікбоксинку WAKO.</td>

                  </tr>
                  <tr>
                    <th scope="row">Ребрина Юрій Вячеславович</th>
                    <td>МС з боксу. Засновник Волинського Боксерського клуба Олімпійського резерва.  Голова ревізійної комісії Луцької федерації кікбоксингу WAKO.</td>

                  </tr>
                  <tr>
                    <th scope="row">Кобель Дмитро Анатолійович</th>
                    <td>ЗМСУ з кікбоксингу WTKA. Член правління, співзасновник Луцької федерації кікбоксингу WAKO. Тренер КЗ ДЮСШ 2 Луцької міскої ради. Голова колегії суддів Волинської обласної федерації кікбоксингу WAKO</td>

                  </tr>
                  <tr>
                    <th scope="row">Куденьчук Олексій Андрійович</th>
                    <td>КМСУ з боксу. Спів-засновник Луцької федерації кікбоксингу WAKO. Юрист Луцької федерації кікбоксингу WAKO.</td>

                  </tr>
                  <tr>
                    <th scope="row">Ковтун Святослав Анатолійович</th>
                    <td>МС з боксу.  Голова колегії судьїв Луцької федерації кікбоксингу WAKO</td>

                  </tr>
                  <tr>
                    <th scope="row">Швайко Іван Андрійович </th>
                    <td>МСУ з боксу, МСМКУ з кікбоксингу WTKA.  Голова ревізійної комісії Волинської федерації кікбоксингу WAKO.</td>

<!--                  </tr>-->
<!--                  <tr>-->
<!--                    <th scope="row">Overlay teeth whitening ( 2 arches)</th>-->
<!--                    <td>1 times</td>-->

<!--                  </tr>-->
<!--                  <tr>-->
<!--                    <th scope="row">Standard porcelain and zirconium crown on implant</th>-->
<!--                    <td>1 tooth</td>-->

<!--                  </tr>-->
<!--                  <tr>-->
<!--                    <th scope="row">Implantation of an implant (price depends on system used)</th>-->
<!--                    <td>1 tooth</td>-->

<!--                  </tr>-->
<!--                  <tr>-->
<!--                    <th scope="row">Covering the recession of the gums</th>-->
<!--                    <td>1 times</td>-->

<!--                  </tr>-->
<!--                  <tr>-->
<!--                    <th scope="row">Consultation, impressions and preparation of models</th>-->
<!--                    <td>1 times</td>-->

<!--                  </tr>-->
<!--                  <tr>-->
<!--                    <th scope="row">Removal of an old inlay, old crown</th>-->
<!--                    <td>1 times</td>-->

<!--                  </tr>-->
<!--                  <tr>-->
<!--                    <th scope="row">Overlay teeth whitening ( 2 arches)</th>-->
<!--                    <td>1 times</td>-->

<!--                  </tr>-->
<!--                  <tr>-->
<!--                    <th scope="row">Standard porcelain and zirconium crown on implant</th>-->
<!--                    <td>1 tooth</td>-->

<!--                  </tr>-->
<!--                  <tr>-->
<!--                    <th scope="row">Implantation of an implant (price depends on system used)</th>-->
<!--                    <td>1 tooth</td>-->

                  </tr>
                </tbody>
              </table>
            </div>
          </div>

<!--          <div class="col-12">-->
<!--            <div class="more-btn text-center mt-50">-->
<!--              <a href="#" class="btn dento-btn">Read More <i class="fa fa-angle-double-right"></i></a>-->
<!--            </div>-->
<!--          </div>-->
        </div>
      </div>
    </section>
    <!-- ***** Dento Pricing Table Area End ***** -->

  {% endblock pricing_section %}


{% endblock %}