
{% extends 'base.html' %}

{% load static %}
{% block title %}Кікбоксери Федираціх Кікбосингу WAKO{%endblock %}
{% block meta_description %}Кікбоксери Федираціх Кікбосингу WAKO{% endblock %}



{% block content %}





  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg-img/12.jpg' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Спортсмени</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Головна</a></li>
              <li class="breadcrumb-item active" aria-current="page">Спортсмени</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  {% block pricing_section %}
    <div class="container">
       <th><h5>Чемпіони та призери Чемпіонатів України, Молодіжних ігор, Спартикіад України, Кубків Світу, Чемпіонатів ДЮСШ України, Чемпіонату Європи - вихованці Фереції кікбоксингу Волині.</h5> </th>
    </div>

    <!-- ***** Dento Pricing Table Area Start ***** -->
    <section class="dento-pricing-table-area mt-50 section-padding-0-100">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="dento-price-table table-responsive">
              <table class="table table-borderless mb-0">
                <thead>
                  <tr>
                    <th scope="col">Чоловіки</th>
                    <th scope="col">Перші майстри спорту Федерації кікбоксингу Волині </th>
<!--                    <th scope="col">Вік</th>-->
<!--                    <th scope="col">Ріст</th>-->
<!--                    <th scope="col">Вага</th>-->
                  </tr>
                </thead>
                <tbody>
{#                  <tr>#}
{#                    <th scope="row">Кобель Дмитро Анатолійович</th>#}
{#                    <td>Майстер спорта України з кікбоксингу</td>#}
{#                  </tr>#}
{#                  <tr>#}
{#                    <th scope="row">Швайко Іван Андрійович</th>#}
{#                    <td>Майстер спорта України з Боксу</td>#}
{#                  </tr>#}

                  <tr>
                    <th scope="row">Гнасюк Андрій (Луцьк)</th>
                    <td>Майстер спорту України з кікбоксингу </td>
                  </tr>

                  <tr>
                    <th scope="row">Борис Віктор(Луцьк )</th>
                    <td>Майстер спорту України з боксу,  КМС УКРАЇНИ з кікбоксингу </td>
                  </tr>


                  <tr>
                    <th scope="row">Притула Олександр (Луцьк)</th>
                    <td>Майстер спорту України з боксу,  КМС УКРАЇНИ з кікбоксингу</td>
                  </tr>

                  <tr>
                    <th scope="row">Мандзик Віктор(Луцьк)</th>
                    <td>Майстер спорту України з боксу,  КМС УКРАЇНИ з кікбоксингу</td>
                  </tr>

                  <tr>
                    <th scope="row">Галейда Дмитро (Ковель)</th>
                    <td>Майстер спорта України з кікбоксингу</td>
                  </tr>

                  <tr>
                    <th scope="row">Воробей Олександр (Луцьк)</th>
                    <td>Майстер спорта України з кікбоксингу</td>
                  </tr>

                  <tr>
                    <th scope="row">Колодій Тарас (Луцьк)</th>
                    <td>Майстер спорта України з кікбоксингу</td>
                  </tr>

                  <tr>
                    <th scope="row">Бардась Денис (Луцьк)</th>
                    <td>Майстер спорта України з кікбоксингу</td>
                  </tr>

                  <tr>
                    <th scope="row">Мельниченко Володимир (Луцьк )</th>
                    <td>Майстер спорта України з кікбоксингу</td>
                  </tr>

                  <tr>
                    <th scope="row">Заець Олександр (Луцьк)</th>
                    <td>Майстер спорта України з кікбоксингу</td>
                  </tr>

                  <tr>
                    <th scope="row">Потапець Дмитро (Луцьк)</th>
                    <td>Майстер спорта України з кікбоксингу</td>
                  </tr>

                  <tr>
                    <th scope="row">Лотоцький Василь (Луцьк)</th>
                    <td>Майстер спорта України з боксу,  КМС УКРАЇНИ з кікбоксингу </td>
                  </tr>

                  <tr>
                    <th scope="row">Максимчук Дмитро (Луцьк)</th>
                    <td>Кандидат в майстри спорта України з кікбоксингу та боксу</td>
                  </tr>

                  <tr>
                    <th scope="row">Куденчук Олексій (Луцьк)</th>
                    <td>Кандидат в майстри спорта України з боксу</td>
                  </tr>

                  <tr>
                    <th scope="row">Шикалюк Сергій (Луцьк)</th>
                    <td>Кандидат в майстри спорта України з кікбоксингу та боксу</td>
                  </tr>

                  <tr>
                    <th scope="row">Гнатенко Іван (Луцьк)</th>
                    <td>Кандидат в майстри спорта України з кікбоксингу</td>
                  </tr>

                  <tr>
                    <th scope="row">Дзюра Петро (Луцьк)</th>
                    <td>Кандидат в майстри спорта України з кікбоксингу</td>
                  </tr>

                  <tr>
                    <th scope="row">Кобель Сергій (Луцьк)</th>
                    <td>Кандидат в майстри спорта України з кікбоксингу</td>
                  </tr>

                  <tr>
                    <th scope="row">Демчук Вадим (Луцьк)</th>
                    <td>Кандидат в майстри спорта України з кікбоксингу</td>
                  </tr>

                  <tr>
                    <th scope="row">Оксенюк Юрій (Луцьк)</th>
                    <td>Кандидат в майстри спорта України з кікбоксингу</td>
                  </tr>

                  <tr>
                    <th scope="row">Дерябин Роман (Луцьк)</th>
                    <td>Кандидат в майстри спорта України з кікбоксингу та боксу</td>
                  </tr>

                  <tr>
                    <th scope="row">Масіньов Станіслав (Ковель )</th>
                    <td>Кандидат в майстри спорта України з кікбоксингу</td>
                  </tr>
                  <tr>
                    <th scope="row">Самутін Володя (Луцьк)</th>
                    <td>Кандидат в майстри спорта України з кікбоксингу та боксу </td>
                  </tr>

                  <tr>
                    <th scope="row">Острожук Роман (Луцьк)</th>
                    <td>Кандидат в майстри спорта України з кікбоксингу</td>
                  </tr>

                  <tr>
                    <th scope="row">Струк Андрій (Луцьк )</th>
                    <td>Кандидат в майстри спорта України з кікбоксингу та боксу.</td>
                  </tr>

                  <tr>
                    <th scope="row">Панчук Дмитро (Луцьк)</th>
                    <td>Кандидат в майстри спорта України з кікбоксингу</td>
                  </tr>

                  <tr>
                    <th scope="row">Доманов Роман (Луцьк)</th>
                    <td>Кандидат в майстри спорта України з кікбоксингу</td>
                  </tr>

                  <tr>
                    <th scope="row">Гнасюк Микола (Луцьк)</th>
                    <td>Кандидат в майстри спорта України з боксу</td>
                  </tr>

                  <tr>
                    <th scope="row">Липницький Євген (Луцьк)</th>
                    <td>Кандидат в майстри спорта України з кікбоксингу та боксу</td>
                  </tr>

                  <tr>
                    <th scope="row">Панчук Дмитро (Луцьк)</th>
                    <td>Кандидат в майстри спорта України з кікбоксингу та боксу</td>
                  </tr>

                  <tr>
                    <th scope="row">Ткачук Сергій (Луцьк)</th>
                    <td>Кандидат в майстри спорта України з кікбоксингу</td>
                  </tr>

                  <tr>
                    <th scope="row">Кардаш Едуард (Луцьк)</th>
                    <td>КМС України з кікбоксингу </td>
                  </tr>

                  <tr>
                    <th scope="row">Панчук Дмитро (Луцьк)</th>
                    <td>КМС України з кікбоксингу </td>
                  </tr>

                  <tr>
                    <th scope="row">Панчук Дмитро (Луцьк)</th>
                    <td>Кандидат в майстри спорта України з кікбоксингу</td>
                  </tr>



<!--                  <tr>-->
<!--                    <th scope="row">Подвальний Андрій Миколайович</th>-->
<!--                    <td>Кандидат в майстри спорта України з кікбоксингу</td>-->
<!--                  </tr>-->


                <thead>
                  <tr>
                    <th scope="col">Дівчата</th>
                    <th scope="col">Перші майстри спорту Федерації кікбоксингу Волині</th>
<!--                    <th scope="col">Вік</th>-->
<!--                    <th scope="col">Ріст</th>-->
<!--                    <th scope="col">Вага</th>-->
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <th scope="row">Хильчук Юлія Юрівна</th>
                    <td>Майстер спорта України з кікбоксингу</td>
                  </tr>

                  <tr>
                    <th scope="row">Возняк Ольга</th>
                    <td>Майстер спорта України з боксу та КМС з кікбоксингу</td>
                  </tr>

                  <tr>
                    <th scope="row">Климчуч Лена </th>
                    <td>Кандидат в майстри спорта України з кікбоксингу та боксу</td>
                  </tr>

                  <tr>
                    <th scope="row">Гнатюк Оксана</th>
                    <td>Кандидат в майстри спорта України з кікбоксингу та боксу</th>
                  </tr>

                     <tr>
                    <th scope="row">Здрилюк Анна</th>
                    <td>Кандидат в майстри спорта України з кікбоксингу та боксу</th>
                  </tr>

                  <tr>
                    <th scope="row">Парамонова Татьяна</th>
                    <td>Кандидат в майстри спорта України з кікбоксингу та боксу</td>
                  </tr>

                  <tr>
                    <th scope="row">Попова Ірина</th>
                    <td>Кандидат в майстри спорта України з кікбоксингу та боксу</td>
                  </tr>

                  <tr>
                    <th scope="row">Лукянчук Людмила</th>
                    <td>Кандидат в майстри спорта України з кікбоксингу та боксу</td>
                  </tr>

                  <tr>
                    <th scope="row">Ярмолюк Світлана</th>
                    <td>Кандидат в майстри спорта України з кікбоксингу та боксу</td>
                  </tr>

                  <tr>
                    <th scope="row">Мазурок Вікторія</th>
                    <td>Кандидат в майстри спорта України з кікбоксингу</td>
                  </tr>

                  <tr>
                    <th scope="row">Боднарук Юлія Сергіївна</th>
                    <td>Кандидат в майстри спорта України з кікбоксингу та боксу</td>
                  </tr>

                  <tr>
                    <th scope="row">Мазурок Олена</th>
                    <td>Кандидат в майстри спорта України з кікбоксингу</td>
                  </tr>

                  <tr>
                    <th scope="row">Каїн Джулія</th>
                    <td>Кандидат в майстри спорта України з кікбоксингу</td>
                  </tr>

                  <tr>
                    <th scope="row">Квач Вікторія</th>
                    <td>Кандидат в майстри спорта України з кікбоксингу</td>
                  </tr>

                  <tr>
                    <th scope="row">Семенихина Анастасія </th>
                    <td>Кандидат в майстри спорта України з кікбоксингу</td>
                  </tr>

                  <tr>
                    <th scope="row">Васкевич Світлана</th>
                    <td>Кандидат в майстри спорта України з кікбоксингу та боксу</td>
                  </tr>

                  <tr>
                    <th scope="row">Якимишина Вікторія</th>
                    <td>Кандидат в майстри спорта України з кікбоксингу та боксу</td>
                  </tr>

                  <tr>
                    <th scope="row">Собуцька Вікторія </th>
                    <td>Кандидат в майстри спорта України з кікбоксингу та боксу</td>
                  </tr>

                  <tr>
                    <th scope="row">Мацоха Анастасія</th>
                    <td>Кандидат в майстри спорта України з кікбоксингу та боксу</td>
                  </tr>

                  <tr>
                    <th scope="row">Музика Олександра </th>
                    <td>Кандидат в майстри спорта України з кікбоксингу та боксу</td>
                  </tr>

                  <tr>
                    <th scope="row">Бортник Катерина</th>
                    <td>Кандидат в майстри спорта України з кікбоксингу та боксу</td>
                  </tr>

                  <tr>
                    <th scope="row">Полешка Марта</th>
                    <td>Кандидат в майстри спорта України з кікбоксингу та боксу</td>
                  </tr>

                  <tr>
                    <th scope="row">Приймачик Валя</th>
                    <td>Кандидат в майстри спорта України з кікбоксингу та боксу</td>
                  </tr>

                  <tr>
                    <th scope="row">Глушко Яна</th>
                    <td>Кандидат в майстри спорта України з кікбоксингу та боксу</td>
                  </tr>

                  <tr>
                    <th scope="row">Лобарева Анастасія</th>
                    <td>Кандидат в майстри спорта України з кікбоксингу та боксу</td>
                  </tr>

                  <tr>
                    <th scope="row">Горошко Карина</th>
                    <td>Кандидат в майстри спорта України з кікбоксингу</td>
                  </tr>

                  <tr>
                    <th scope="row">Гурманська Анна</th>
                    <td>Кандидат в майстри спорта України з кікбоксингу</td>
                  </tr>

<!--                  </tr>-->
<!--                  <tr>-->
<!--                    <th scope="row">Собуцька Вікторія </th>-->
<!--                    <td>кандидат в майстри спорта України з кікбоксингу</td>-->

                  </tr>
                </tbody>
              </table>
            </div>
          </div>


<!--          <div class="col-12">-->
<!--            <div class="more-btn text-center mt-50">-->
<!--              <a href="#" class="btn dento-btn">Read More <i class="fa fa-angle-double-right"></i></a>-->
<!--            </div>-->
<!--          </div>-->
        </div>
      </div>
    </section>
    <!-- ***** Dento Pricing Table Area End ***** -->

  {% endblock pricing_section %}


{% endblock %}